@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import "tailwindcss";
@theme {
  --font-doris: "Dosis", sans-serif;

  --animate-form: form 0.2s ease-in-out;
  @keyframes form {
    0% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}
